<h1>All of the Events</h1>

<% @event.each do |event| %>

  <h2><%= link_to event.event_type, company_event_path(event.company, event) %> - <%= event.name %></h2>
  <p>Event Date: <%= event.start_time.strftime("%A %d %b, %Y") unless event.start_time.nil? %></p>
  <p>Start Time: <%= event.start_time.strftime("%I:%M %p") unless event.start_time.nil? %> </p>
  <p>End Time: <%= event.end_time.strftime("%I:%M %p") unless event.end_time.nil? %></p>
  <p>Location: <%= event.location %></p>

<% end %>
