<h1><%= @event.name %></h1>

  <p>Event Date: <%= @event.start_time.strftime("%A %d %b, %Y") %></p>

  <p>Start Time: <%=
  @event.start_time.strftime("%I:%M %p") %></p>

  <p>End Time: <%= @event.end_time.strftime("%I:%M %p") %></p>

  <p>Location: <%= @event.location %></p>

<h3><%= link_to "Edit Event Information", edit_company_event_path %></h3>
