<h1><%= @company.name %></h1>
<img src="<%= @company.img_url %>" alt="<%= @company.name %> Company Logo">
<p><%= @company.name %> specializes in <%= @company.company_type %> classes.</p>

<h3><%= link_to "Edit Company Information", edit_company_path %></h3>
